<launch>

  <!-- args that can be set from the command line or a default will be used -->
  <arg name="deformation_model_path" default="/home/tartaglia/ros2_projects/deformable_ws/src/soft_material_deformation_estimation_ros2/models/regression/Densenet121_0.0001_1.pth"/>
  <arg name="segmentation_model_path" default="/home/tartaglia/ros2_projects/deformable_ws/src/soft_material_deformation_estimation_ros2/models/segmentation/UNet_resnet18_1e-05_0.pth"/>


  <node pkg="soft_material_deformation_estimation_ros2" exec="deformation_estimation" name="deformation_estimation" output="screen">
    <param name="deformation_model_path" value="$(var deformation_model_path)"/>
    <param name="segmentation_model_path" value="$(var segmentation_model_path)"/>

  </node>
</launch>
